{tpl$header}

<!-- 
<div class="h3">
<span class="reda">当前位置&gt;&gt;</span>  <a href="{cms_abs}">首页</a> {c$nav}</div>
 -->
<div style="height:1px;width:960px;clear: both;"></div>
<style type="text/css">
.tab {margin-bottom: 10px;text-align: left;}
.tab-menuWrapper{background-image: url({tplurl}images/fy-bg-201005.png);background-position: 0 -447px;background-repeat: repeat-x;position: relative;zoom: 1;padding: 4px 0 0 5px;height: 26px;}
.J_tab-menu, .J_tab-menu span, .tab-menuWrapper .active{background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;}
.J_tab-menu {background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;background-position: left -311px;font-weight: bold;cursor: pointer;float: left;display: inline;margin-right: 2px;font-size: 14px;white-space: nowrap;}
.J_tab-menu span {cursor: pointer;font-size: 14px;white-space: nowrap;font-weight: bold;background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;display: block;height: 26px;line-height: 26px;padding: 0 8px;background-position: right -380px;}
.tab-menu-m {background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;position: absolute;top: 4px;right: 5px;width: 35px;background-position: 30px -240px;line-height: 26px;}
.tab-menu-m a {color: #fff;font-size: 12px;}
.J_tab-content {border: 1px solid #ccc;border-top: 0 none;padding: 10px;position: relative;zoom: 1;}

.J_tab-content li a {color:#0070FF;}
.J_tab-content li a:hover {color:#ff0000;}
.J_tab-content ul {display: block;list-style-type: disc;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;margin: 0;padding: 0;list-style: none outside none;}
.list1 li {display: list-item;text-align: -webkit-match-parent;position: relative;zoom: 1;line-height: 21px;height: 21px;border-bottom: 1px solid #e6e6e6;}
.list1 li span.sort {padding-left: 8px;color: #999;line-height: 21px;}
.clearfix {display: block;}
.list2col li {margin-top:1px;list-style: none outside none;display: list-item;text-align: -webkit-match-parent;background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;background-position: 0 -486px;padding-left: 12px;font-size: 14px;line-height: 24px;float: left;width: 45%;}
.list2col li a {color: #004d01;text-decoration: none;}
.list2col li a:hover {color: #F00;text-decoration:underline;}
.mod-bd {border: 1px solid #ccc;border-top: 0 none;padding: 10px;position: relative;zoom: 1;height: auto;background: url({tplurl}images/fy-line-201005.png) repeat-x 0 165px;padding-bottom: 0;}
.picList1 {	position: relative;zoom: 1;height: 165px;margin-bottom: 10px;}
.picList1 dt {	display: block;margin-left: 135px;padding: 4px 0 0;font-size: 14px;font-weight: normal;text-indent: -7px;position: relative;zoom: 1;}
.picList1 dt a {font-weight: bold;}
.picList1 dd {margin-left: 130px;}
.picList1 dd.pic {margin: 0;position: absolute;left: 0;top: 0;}
.picList1 dd.pic img {vertical-align: middle;width: 120px;height: 165px;border: 1px solid #d1d1d1;background: #fff;padding: 1px;}
.picList1 dd.intro {margin-left: 130px;}
.picList1 dd.upd a {color: #006704;}


.mod-1 {margin-bottom: 10px;}
.mod-1 .mod-hd {background-position: 0 -447px;background-repeat: repeat-x;background-image: none;border: 1px solid #CCCCCC; height: 28px;overflow: hidden; position: relative;}
.mod-1 .mod-hd h2 {  color: #000000;font-size: 14px;    line-height: 30px;    padding-left: 10px;font-weight:bold;text-align: left;}
.clearfix:after {    clear: both;    content: ".";    display: block;    height: 0;    visibility: hidden;}
.sortTop .mod-bd {    padding-bottom: 0;}
.mod-bd, .J_tab-content {    -moz-border-bottom-colors: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    border-image: none;    border-style: none solid solid;    border-width: 0 1px 1px;    padding: 10px;    position: relative;}
.content-rl .content-lr .main {    float: left;}
.w210 {    width: 220px;	float:left;margin-bottom:5px;}
.sortTop .mod-sub {    margin-bottom: 10px;}
.sortTop .mod-sub h3 {	background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;    background-position: 0 -170px;font-size: 100%;    height: 23px;    margin-bottom: 10px;    padding: 0 0 0 20px;}
.picList2 {position: relative;zoom: 1;height: 135px;}
.picList2 dt {margin-left: 110px;font-size: 12px;font-weight: normal;text-indent: -3px;position: relative;zoom: 1;}
.picList2 dt a {font-weight: bold;}
.picList2 dd.pic {margin: 0;position: absolute;left: 0;top: 0;}
.picList2 dd.pic img {	vertical-align: middle;width: 96px;height: 120px;border: 1px solid #999;background: #fff;padding: 2px;}
.picList2 dd {margin-left: 110px;}
.picList2 dd.intro {color: #646464;}
.sortTop .mod-sub li {height: 20px;line-height: 20px;position: relative;zoom: 1;overflow: hidden;}
span.sort {color: #999;}
.sortTop .mod-sub li {line-height: 20px;}
.mod-sub dl {display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.mod-sub ul, ol {list-style: none outside none;}
.txt_tab li {padding-left: 34px;}
.txt_tab li a {width:165px;float:left;}
.txt_tab li span {display: inline-block;float: right;height: 22px;line-height: 22px;text-align: right;width: auto;}


.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: block;}
.content, .content-lr, .content-rl {position: relative;zoom: 1;}
#wrap {text-align: left;}
.mr10 {margin-right: 10px;}
.main, .sidebar {display: inline;}
.w230 {width: 230px;}
.content-lr .main {float: left;}
.mod-1 {margin-bottom: 10px;}
.mod-hd, .tab-menuWrapper {height: 30px;background-position: 0 -447px;background-repeat: repeat-x;position: relative;zoom: 1;}
.mod-1 .mod-hd {background-image: none;height: 28px;border: 1px solid #ccc;position: relative;zoom: 1;overflow: hidden;}
.mod-hd h2 {font-size: 14px;line-height: 30px;padding-left: 10px;color: #fff;}
.mod-1 .mod-hd h2 {color: #000;}
.mod-hd-m {background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;}
.mod-hd-m, .tab-menu-m {position: absolute;top: 4px;right: 5px;width: 35px;background-position: 30px -240px;line-height: 26px;}
.mod-1 .mod-hd-m {background-position: 30px -211px;}
.mod-hd-m a, .tab-menu-m a {font-size: 12px;}
.mod-1 .mod-hd-m a {color: #000;}
.mod-bd, .J_tab-content {border: 1px solid #ccc;border-top: 0 none;padding: 10px;position: relative;zoom: 1;background:none;}
.picList3 {position: relative;zoom: 1;height: 96px;background: url({tplurl}images/fy-bg-201005.png) repeat-x 0 103px;padding-bottom: 9px;margin-bottom: 5px;}
.picList3 dt {height:20px;overflow:hidden;margin-left: 90px;font-size: 12px;font-weight: normal;text-indent: -3px;position: relative;zoom: 1;}
.picList3 dt a {font-weight: bold;}
.picList3 dd.pic {margin: 0;position: absolute;left: 0;top: 0;}
.picList3 dd.pic img {width: 72px;height: 90px;border: 1px solid #d1d1d1;background: #fff;padding: 2px;}
.picList3 dd {margin-left: 90px;}
.picList3 dd.author {color: #656565;}
.picList3 dd {margin-left: 90px;}
.picList3 dd.intro {height:60px;overflow:hidden;color: #999;width: 118px;}


.topList3 {background: url({tplurl}images/fy-line-201005.png) repeat;}
.topList3 li{background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;}
.topList3 li {height: 22px;line-height: 22px;overflow: hidden;position: relative;zoom: 0;}
.topList3 li span {margin-left:15px;background: #ffffff;}
.topList3 li span.author {position: absolute;top: 0;right: 0;padding: 0 0 0 5px;margin: 0;display: inline-table;}

.topList3_list {background: url({tplurl}images/fy-line-201005.png) repeat;}
.topList3_list li{background-image: url({tplurl}images/fy-bg-201005.png);background-repeat: no-repeat;}
.topList3_list li {height: 22px;line-height: 22px;overflow: hidden;position: relative;zoom: 0;}
.topList3_list li span {margin-left:2px;}
.topList3_list li span.author {position: absolute;top: 0;right: 0;padding: 0 0 0 5px;margin: 0;display: inline-table;}

li.No1 {background-position: -380px -15px;}
li.No2 {background-position: -380px -39px;}
li.No3 {background-position: -380px -63px;}
li.No4 {background-position: -380px -87px;}
li.No5 {background-position: -380px -111px;}
li.No6 {background-position: -380px -135px;}
li.No7 {background-position: -380px -159px;}
li.No8 {background-position: -380px -183px;}
li.No9 {background-position: -380px -207px;}
li.No10 {background-position: -380px -231px;}
li.No11 {background-position: -380px -255px;}
li.No12 {background-position: -380px -279px;}
li.No13 {background-position: -380px -303px;}
li.No14 {background-position: -380px -327px;}
li.No15 {background-position: -380px -351px;}
.content-lr .sidebar {float: right;}

.height330 {
	height: 305px;
}

</style>

<div id="main">

{c$nvpin_hengfu_ad_1}

<div class="tab J_tab" style="width:350px; float:left; ">
	 <!-- 重磅推荐&大神推荐 -->
	<div class="tab-menuWrapper" style="height:0px;"></div>
	<div class="J_tab-content" style="border: none; padding: 0px; display: block;">
		<div class="mod-bd" style="height: 360px;">
			{c$nvpin_liangtiaotuwentuijian}
		</div>
	</div>
	<!--END 重磅推荐&强力推荐 -->
</div>

<div id="txtbox" class="k1" style="width:375px;float:left;margin-left:8px;height: 383px;padding-left:5px;">
	<br>
	<h2 style="font-size: 18px;font-family: "黑体","宋体";font-weight: normal;text-align: center;margin: 16px 0 12px;">
		{c$nvpin_dawenzilianshang}
	</h2>
	
	<ul class="list2col clearfix">
		{c$nvpin_xiaowenzilianshang}
	</ul>
	<br><br>
	<h2 style="font-size: 18px;font-family: "黑体","宋体";font-weight: normal;text-align: center;margin: 16px 0 12px;">
		{c$nvpin_dawenzilianxia}
	</h2>
	
	<ul class="list2col clearfix">
		{c$nvpin_xiaowenzilianxia}
	</ul>
</div>

<div class="tab J_tab" style="width:205px;height:385px;overflow:hidden;float:right;margit:5px;margin-left: 5px;">
	<div class="tab-menuWrapper">
		<h2 class="J_tab-menu active"><span>全站强推</span></h2>
		<div class="tab-menu-m"><a href="/index.php?caid=24&action=tuijian" target="_blank">更多</a></div>
	</div>
	<div class="tab-contentWrapper">
		<div class="J_tab-content" style="display: block;height:330px;">
			<ul class="list1">
               	{c$nvpin_qiangtuilist}
      		</ul>
		</div>
	</div>
</div>


      
<div class="blank3"></div>
{c$nvpin_hengfu_ad_2}

<div class="picList1" style="width:270px;height:150px;float:left;border: 1px solid #ccc;">
	{c$np_zhongxinjingpintutui_you}
</div>

<div style="width:395px;height:150px;float:left;margin-left:5px; border: 1px solid #ccc;">
	<ul class="list2col clearfix" style="list-style: none;">
		{c$np_zhongxinwenziliantuijian}
	</ul>
</div>


<div class="picList1" style="width:270px;height:150px;float:right;border: 1px solid #ccc;">
	{c$np_zhongxinjingpintutui_zuo}
</div>

<div class="blank3"></div>

<div style="width:230px;float:left">
	<div id="lm2" class="lmc" style="width:230px;float:left;">
		<dl><dt>点击榜<span><a href="/index.php?caid=24&action=dianji">更多&gt;&gt;</a></span></dt>
		<dd class="txt_tab" id="dd_11">
			<ul>{c$nvpindianjibang}</ul>
		</dd>
		</dl>
	</div>
	<br>
	<div id="lm2" class="lmc" style="width:230px;float:left;">
		<dl><dt>订阅榜<span><a href="/index.php?caid=24&action=dingyue">更多&gt;&gt;</a></span></dt>
		<dd class="txt_tab" id="dd_11">
			<ul>{c$nvpindingyuebang}</ul>
		</dd>
		</dl>
	</div>
</div>

<div class="content-lr clearfix" style="width:710px;margin-left:10px;float:right;">
    <!--第三部分 开始--> 
	<div class="main w230 mr10" style="width:230px;margin:0px;margin-left:6px;">
		<div class="mod-1">
        <!-- 都市&#8226;言情新书榜 -->
		<div class="mod-hd">
			<h2>都市·言情</h2>
			<div class="mod-hd-m"><a href="http://xiaoshuo.com/list.php?caid=3" title="更多" target="_blank">更多</a></div>
        </div>
        <div class="mod-bd" style="height: 216px;">
			<dl class="picList3">
				{c$np_dushiyanqing_tu}
			</dl>
			<ul class="topList3_list" style="background:none;">
				{c$np_dushiyanqing_list}
			</ul>
        </div>
        <!-- END 武侠仙侠新书榜 -->
		</div>
	</div>	
	<div class="main w230 mr10" style="width:230px;margin:0px;margin-left:6px;">
		<div class="mod-1">
        <!-- 穿越&#8226;重生新书榜 -->
        <div class="mod-hd">
        	<h2>穿越·重生</h2>
        	<div class="mod-hd-m"><a href="http://xiaoshuo.com/list.php?caid=15" title="更多" target="_blank">更多</a></div>
        </div>
        <div class="mod-bd" style="height: 216px;">
			<dl class="picList3">
				{c$np_chuanyuechongsheng_tu}
			</dl>
            <ul class="topList3_list" style="background:none;">
            	{c$np_chuanyuechongsheng_list}
			</ul>
        </div>
        <!-- END 武侠仙侠新书榜 -->
		</div>
	</div>	
	<div class="main w230 mr10" style="width:230px;margin:0px;margin-left:6px;">
		<div class="mod-1">
        <!-- 青春&#8226;校园新书榜 -->
        <div class="mod-hd">
        	<h2>青春·校园</h2>
        	<div class="mod-hd-m"><a href="http://xiaoshuo.com/list.php?caid=16" title="更多" target="_blank">更多</a></div>
        </div>
        <div class="mod-bd" style="height: 216px;">
			<dl class="picList3">
				{c$np_qingchunxiaoyuan_tu}
			</dl>
			<ul class="topList3_list" style="background:none;">
				{c$np_qingchunxiaoyuan_list}
			</ul>
		</div>
        <!-- END 武侠仙侠新书榜 -->
		</div>
    </div>	
    <div class="main w230 mr10" style="width:230px;margin:0px;margin-left:6px;">
		<div class="mod-1">
        <!-- 古装&#8226;宫斗新书榜 -->
        <div class="mod-hd">
        	<h2>古装·宫斗</h2>
        	<div class="mod-hd-m"><a href="http://xiaoshuo.com/list.php?caid=18" title="更多" target="_blank">更多</a></div>
        </div>
        <div class="mod-bd" style="height: 216px;">
			<dl class="picList3">
				{c$np_guzhuanggongdou_tu}
			</dl>
			<ul class="topList3_list" style="background:none;">
				{c$np_guzhuanggongdou_list}
			</ul>
        </div>
        <!-- END 武侠仙侠新书榜 -->
		</div>
    </div>	
    <div class="main w230 mr10" style="width:230px;margin:0px;margin-left:6px;">
		<div class="mod-1">
        <!-- 玄幻&#8226;女强新书榜 -->
        <div class="mod-hd">
        	<h2>玄幻·女强</h2>
        	<div class="mod-hd-m"><a href="http://xiaoshuo.com/list.php?caid=19" title="更多" target="_blank">更多</a></div>
        </div>
        <div class="mod-bd" style="height: 216px;">
          	<dl class="picList3">
          		{c$np_xuanhuannvqiang_tu}
			</dl>
			<ul class="topList3_list" style="background:none;">
				{c$np_xuanhuannvqiang_list}
			</ul>
        </div>
        <!-- END 武侠仙侠新书榜 -->
		</div>
    </div>	
    <div class="main w230 mr10" style="width:230px;margin:0px;margin-left:6px;">
		<div class="mod-1">
        <!-- 同人&#8226;耽美新书榜 -->
        <div class="mod-hd">
        	<h2>同人·耽美</h2>
        	<div class="mod-hd-m"><a href="http://xiaoshuo.com/list.php?caid=20" title="更多" target="_blank">更多</a></div>
        </div>
        <div class="mod-bd" style="height: 216px;">
          	<dl class="picList3">
          		{c$np_tongrendanmei_tu}
			</dl>
           	<ul class="topList3_list" style="background:none;">
           		{c$np_tongrendanmei_list}
			</ul>
        </div>
        <!-- END 武侠仙侠新书榜 -->
		</div>
	</div>
</div>

<div class="blank3"></div>

{c$nvpin_xinshu_paihangbang}

<div style="width:232px;float:left;margin:0px;margin-left:5px;" class="main w230 mr10">
	<div class="mod-1">
	<div class="mod-hd">
		<h2>最新签约作品榜</h2>
		<div class="mod-hd-m"></div>
	</div>
	<div class="mod-bd height330">
		{c$nvpin_zuixinxiaoshuo_list}
	</div>
	</div>
</div>

<div style="width:232px;float:left;margin:0px;margin-left:5px;" class="main w230 mr10">
	<div class="mod-1">
	<div class="mod-hd">
		<h2>完本精选</h2>
		<div class="mod-hd-m"></div>
	</div>
	<div class="mod-bd height330">
		{c$nvping_wanbenjingxuan_list}
	</div>
	</div>
</div>



<div class="blank3"></div>


<div style="width:230px;float:left;margin-left:2px;">
	<div id="lm2" class="lmc" style="width:230px;float:right;">
		<dl><dt>连载精品<span></span></dt>
		<dd class="txt_tab" id="dd_11">
			<ul>{c$nvpindingyuebang}</ul>
		</dd>
		</dl>
	</div>
	<br>
	<div id="lm2" class="lmc" style="width:230px;float:right;height:282px;">
		<dl><dt>热点精品<span></span></dt>
		<dd class="txt_tab" id="dd_11">
			<ul>{c$nvpindianjibang}</ul>
		</dd>
		</dl>
	</div>
</div>

<div id="divboxd" style="width:470px;float:left;margin-left:7px;">
<div id="lm4"><dl>
<dt><img src="{tplurl}images/ico_gx.gif"  align="absmiddle" /><b>最新小说更新列表</b><span class="rright"><a href="/index.php?caid=22">更多&gt;&gt;</a></span></dt>
<dd><div id="txttd4"><div class="txttb4 txtbg1"><ul>{c$list_newlist}</ul></div></div></dd>
</dl></div>
</div>

<div style="width:230px;float:right;">
	<div id="lm2" class="lmc" style="width:230px;float:right;">
		<dl><dt>打赏榜<span><a href="/index.php?caid=24&action=dashang">更多&gt;&gt;</a></span></dt>
		<dd class="txt_tab" id="dd_11">
			<ul>{c$nvpindianjibang}</ul>
		</dd>
		</dl>
	</div>
	<br>
	<div id="lm2" class="lmc" style="width:230px;float:right;height:282px;">
		<dl><dt>推荐榜<span><a href="/index.php?caid=24&action=tuijian">更多&gt;&gt;</a></span></dt>
		<dd class="txt_tab" id="dd_11">
			<ul>{c$nvpindingyuebang}</ul>
		</dd>
		</dl>
	</div>
</div>


<div class="blank3"></div>
{c$nvpin_hengfu_ad_3}


</div>
<div id="links"><b>友情链接：</b>{c$txtflinklist}<br />{c$picflinklist}</div>
{tpl$footer}