	{tpl$header}
<script type="text/javascript" src="{tplurl}js/upload.js"></script>
<script type="text/javascript" src="{tplurl}js/calendar.js"></script>
<script type="text/javascript" src="{tplurl}js/register.js"></script>
<div id="main">
<div id="left">
<style type="text/css">
.form_box{}
.form_box td{height:30px;line-height:30px;}
.error {font-size: 12px;color: #f00;}
</style>
<script type="text/javascript">
function check_form() {
	//检查表单的正确性
	var isError = false;
	if (_check_user($('#mname').val()) == false) {
		isError = true;
	}
	if (_check_pwd1($('#pwd1').val()) == false) {
		isError = true;
	}
	if (_check_pwd2($('#pwd2').val()) == false) {
		isError = true;
	}
	if (_check_email($('#email').val()) == false) {
		isError = true;
	}
	
	if (_check_authcode($('#regcode_1').val()) == false) isError = true;
	if (isError == true) return false;
	return true;
}

function _check_user(name) {
	if (_check_username(name) == false) return false;
	$.ajax({
		url: "/ajax.php?action=check_user&mname="+name,
		type: "get",
		async: false,
		dataType: 'text',
		data: {},
		success: function(res) {
			if (res !== 'succeed') {
				$('#error_username').text(res);
				$('#error_username').show();
			} else {
				$('#error_username').hide();
			}
		}		
	});
}

function _check_username (name) {
	if (name == '') {
		$('#error_username').text('请输入用户名');
		$('#error_username').show();
		return false;
	}
	$('#error_username').hide();
	return true;
}

function _check_pwd1(pwd) {
	if (pwd == '') {
		$('#error_pwd1').text('请输入密码');
		$('#error_pwd1').show();
		return false;
	}
	if (pwd.length < 6) {
		$('#error_pwd1').text('密码不能小于6位');
		$('#error_pwd1').show();
		return false;
	}
	
	$('#error_pwd1').hide();
	return true;
}
function _check_pwd2(pwd) {
	if (pwd == '') {
		$('#error_pwd2').text('请输入确认密码');
		$('#error_pwd2').show();
		return false;
	}
	if (pwd.length < 6) {
		$('#error_pwd2').text('确认密码不能小于6位');
		$('#error_pwd2').show();
		return false;
	}
	if ($('#pwd1').val() != pwd) {
		$('#error_pwd2').text('两次密码不一致');
		$('#error_pwd2').show();
		return false;
	}
	
	$('#error_pwd1').hide();
	return true;
}

function _check_email(email) {
	if (email == '') {
		$('#error_email').text('请输入邮箱地址');
		$('#error_email').show();
		return false;
	}
	re = /^[a-zA-Z0-9][a-zA-Z0-9._-]*@[a-zA-Z0-9\._-]+([\.][a-zA-Z]{2}|[\.][a-zA-Z]{3})+$/;
	if (!re.test(email)) {
		$('#error_email').text('邮箱地址格式错误');
		$('#error_email').show();
		return false;
	}
	var emailError = false;
	$.ajax({
		url: "/ajax.php?action=check_email&memail="+encodeURI(email) ,
		type: "get",
		async: false,
		dataType: 'text',
		data: {},
		success: function(res) {
			if (res !== 'succeed') {
				$('#error_email').text(res);
				$('#error_email').show();
				emailError = true;
			} else {
				$('#error_email').hide();
			}
		}		
	});
	if (emailError == true) return false;
	$('#error_email').hide();
	return true;
}
function _check_authcode(code) {
	if (code == '') {
		$('#error_authcode').text('请填写验证码');
		$('#error_authcode').show();
		return false;
	}
	if (code.length < 4) {
		$('#error_authcode').text('验证码格式不正确');
		$('#error_authcode').show();
		return false;
	}
	var codeError = false;
	$.ajax({
		url: "/ajax.php?action=check_authcode&regcode="+code,
		type: "get",
		async: false,
		dataType: 'text',
		data: {},
		success: function(res) {
			if (res !== 'succeed') {
				$('#error_authcode').text(res);
				$('#error_authcode').show();
				codeError = true;
			} else {
				$('#error_authcode').hide();
			}
		}		
	});
	if (codeError == true) return false;
	$('#error_authcode').hide();
	return true;
}
</script>
<div class="txtbox k1 form_box">
	<table width="100%" border="0" cellpadding="0" cellspacing="1">
	<caption>基本信息</caption>
<form name="register" id="register" method="post" onsubmit="return check_form();" enctype="multipart/form-data" action="{cms_abs}register.php?forward={forward}">
	<tr><td align="right" widht="30%">用&#160;户&#160;名：</td>
	<td width="35%">
	<input type="text" size="35" maxlength="25" name="mname" id="mname" value="" onBlur="_check_user(this.value)"  />
	</td>
	<td align="left" width="35%"><span class="error" id="error_username">&nbsp;</span></td>
	</tr>
	<tr><td align="right">密&#160;&#160;&#160;&#160;码：</td>
	<td>
	<input type="password" size="35" maxlength="25" name="password" id="pwd1" value="" onBlur="_check_pwd1(this.value)" />
	</td>
	<td><span class="error" id="error_pwd1">&nbsp;</span></td>
	</tr>
	<tr><td align="right">确认密码：</td>
	<td>
	<input type="password" size="35" maxlength="25" name="password2" id="pwd2" value="" onBlur="_check_pwd2(this.value)" />
	</td>
	<td><span class="error" id="error_pwd2">&nbsp;</span></td>
	</tr>
	<tr><td align="right">邮件地址：</td>
	<td>
	<input type="text" size="35" maxlength="25" name="email" id="email" value="" onBlur="_check_email(this.value)" />
	</td>
	<td><span class="error" id="error_email">&nbsp;</span></td>
	</tr>
	
	<tr><td align="right">性&#160;&#160;&#160;&#160;别：</td>
	<td>
	<input class="radio" type="radio" name="gender" value="保密" checked style="border:0">保密
	<input class="radio" type="radio" name="gender" value="男"  style="border:0">男
	<input class="radio" type="radio" name="gender" value="女"  style="border:0">女
	</td></tr>
	
	<tr><td align="right">验 证 码：</td>
	<td><input type="text" name="regcode" id="regcode_1" size="4" value="" maxlength="4" onBlur="_check_authcode(this.value)"> 
	<img src="regcode.php" alt="点击图片换验证码" style="vertical-align:inherit;cursor:pointer;" onClick="this.src='regcode.php?'+Date.parse(new Date())"> 
	<span class="notice" id="checkregcode">点击图片换验证码</span>
	</td>
	<td><span class="error" id="error_authcode">&nbsp;</span></td>
	</tr>
    <tr><td colspan="3" align="center">
    	<br />
    	<input type="submit" name="register" value="1" style="cursor: pointer;background: url({tplurl}images/zc0823.gif) no-repeat 0 -287px;width: 172px;height: 54px;border: 0;margin-bottom: 20px;" />
    </td>
    
    </tr>
</form>
	</table>
</div>

</div>
<div id="right">
<div id="lm2"><dl>
<dt><img src="{tplurl}images/tuijian2ico.gif"  align="absmiddle" />推荐专题</dt>
<dd>{c$index_readmin}</dd></dl></div>
</div></div>
<div id="links"><b>友情链接：</b>{c$txtflinklist}<br />{c$picflinklist}</div>
{tpl$footer}